# Nushell history
nushell/.config/nushell/history.*
hyprwhspr/.config/hyprwhspr/recording_status

# VS Code runtime files (keep only User/settings.json and User/keybindings.json)
vscode/.config/Code/*
!vscode/.config/Code/User/
vscode/.config/Code/User/*
!vscode/.config/Code/User/settings.json
!vscode/.config/Code/User/keybindings.json
